
public class {{classname}}{{#lambdas.DotNetParent}} {{classname}} {{serverUrl}} 2{{/lambdas.DotNetParent}}
    {

        public {{classname}}() { }

        {{#lambdas.specificConstructor}} {{classname}} {{/lambdas.specificConstructor}}

        public {{classname}}( {{#vars}}{{#lambdas.specificList}} {{name}} | {{{dataType}}} | {{classname}} {{/lambdas.specificList}} {{#lambda.camelcase_param}}{{name}}{{/lambda.camelcase_param}}{{^-last}} , {{/-last}}{{/vars}})
        {
        {{#vars}}
            this.{{name}} = {{#lambda.camelcase_param}}{{name}}{{/lambda.camelcase_param}};
        {{/vars}}
        }

        {{#vars}}
            {{#lambdas.skipResult}}
            public {{#lambdas.specificList}} {{name}} | {{{dataType}}} | {{classname}} {{/lambdas.specificList}} {{name}} { get; set; }
            {{/lambdas.skipResult}}
        {{/vars}}

        {{#lambdas.DotNetParent}} {{classname}} {{serverUrl}} 3{{/lambdas.DotNetParent}}

    }
